<p>car works!</p>
<div class="parent">
    <div class="child">
<h1>car</h1>
<select [(ngModel)]="companies">

    <option> companies </option>
    <option> audi </option>
    <option> toyota </option>
    <option> bmw </option>

</select>

<img *ngIf="companies=='audi'"  src="assets\Audi-img.png" alt="" width="100%" height="100%">
<img *ngIf="companies=='toyota'"  src="assets\toyota1-img.jpg" alt="" width="100%" height="100%">
<img *ngIf="companies=='bmw'"  src="assets\bmw-img.jpg" alt="" width="100%" height="100%">

</div>

</div>