<p>create-vechile works!</p>

<form [formGroup]="vechileForm">
    <label for="">vechile</label>
    <input type="text" formControlName="vechile">
    <br>
    <label for="">manufacture</label>
    <input type="text" formControlName="manufacture">
    <br>
    <label for="">model</label>
    <input type="text" formControlName="model">
    <br>
    <label for="">type</label>
    <input type="text" formControlName="type">
    <br>
    <label for="">fuel</label>
    <input type="text" formControlName="fuel">
    <br>
    <label for="">color</label>
    <input type="text" formControlName="color">
    <br>
    <label for="">image</label>
    <input type="text" formControlName="image">
    <br>
    <label for="">cost</label>
    <input type="text" formControlName="cost">
    <br>
    <button class="btn btn-success"(click)="create()">create</button>
</form>
