<p>shooping works!</p>

<div class="parent">
    <div class="child">
        <div class="top">
            <div class="top1">
                <input type="text" placeholder="search">
                <button>only free delivery</button>
                <br><br>
                <button>price low to high</button>
                <button>price high to low</button>
                <button>rating low to high</button>
                <button>rating high to low</button>
                <br><br>
                <button> class="btn btn-primary"apply 50% discount</button>
                <button  class="btn btn-primary">price with delivery changes</button>
                <br><br>
                <button>total price</button>
                <button class="btn btn-danger" >total cart items</button>

            </div>
            <div class="top2">
                <label for="">Name:</label>
                <input type="text" [(ngModel)]="name">
                <br><br>
                <label for="">price:</label>
                <input type="number" [(ngModel)]="price">
                <br><br>
                <label for="">Rating:</label>
                <input type="number" [(ngModel)]="rating">
                <br><br>
                <label for="">Free delivary:</label>
                <input type="radio"[(ngModel)]="freedelivery" value="true">
                <label for="">yes</label>
                <input type="radio" [(ngModel)]="freedelivery" value="false">
                <label for="">no</label>
                <br><br>
                <button (click)="addcart()">Add to cart</button>

            </div>

        </div>
        <div class="bottom">

            <table border="1" class="table table-dark table-hover table-border">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Product name</th>
                        <th>price</th>
                        <th>rating</th>
                        <th>free delivery</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products, let i=index">
                        <td>{{product.sno}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.rating}}</td>
                        <td>{{product.freedelivery ? 'yes' : 'No' }}</td>
                        <td><button (click)="delete(i)">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>