<div class="parent">
    <div class="left">
        <form>
            <h1>
                my website
            </h1>
            <hr>
            <h2 routerLink="welcome">welcome</h2>
            
            <h2 routerLink="home">home</h2>
            <h2 routerLink="datab">Databinding</h2>
            <h2 routerLink="calculator">Calculator</h2> 
            <h2 routerLink="circle">circle</h2>
            <h2 routerLink="rectangle">Rectangle</h2>
            <h2 routerLink="BMI">BMI</h2>
            <h2 routerLink="Directives">Directives</h2>
            <h2 routerLink="event">event</h2>
            <h2 routerLink="student">student</h2>
            <h2 routerLink="car">car</h2>
            <h2 routerLink="pipes">pipes</h2>
            <h2 routerLink="shopping">shopping</h2>
            <h2 routerLink="vechile">vechile</h2>
            <h2 routerLink="flipkart">flipkart</h2>
            <h2 routerLink="createvechile">create vechile</h2>
            <h2 routerLink="bankaccounts">bankaccounts</h2>
            <h2 routerLink="createbankaccount">createbankaccount</h2>
            <br>
            <button (click)="logout()">logout</button>
        </form>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
