<div class="parent">
    <div class="left">
        <form>
            <h1>
                my website
            </h1>
            <hr>
            <h2 routerLink="welcome">welcome</h2>
            
            <h2 routerLink="home">home</h2>
            <h2 routerLink="datab">Databinding</h2>
            <h2 routerLink="calculator">Calculator</h2> 
            <h2 routerLink="circle">circle</h2>
            <h2 routerLink="rectangle">Rectangle</h2>
            <h2 routerLink="BMI">BMI</h2>
            <h2 routerLink="Directives">Directives</h2>
            <br>
            <button  routerLink="/login">logout</button>
        </form>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
